exportPattern("^[[:alpha:]]+")
import(adaptMCMC)
import(dplyr)
export(fit_ou)
export(fit_wiener)
export(plot_paths)
importFrom(grDevices, gray.colors)
importFrom(graphics, lines)
importFrom(stats, optim)
importFrom(utils, capture.output)
